{% load static %}
<!--This is a namespaced folder so the folder will contain templates specific to the fortunes app-->

<!DOCTYPE html>
<html lang="en">
<head>
 <title>Django Fortune Teller</title>
 <link rel="stylesheet" href="{% static 'fortunes/style.css' %}">
</head>
<body>
    <h1>Mysterious Fortune Teller</h1>
    <div class="Fortune-image">
        <img src="{% static 'fortunes/magic-ball.png' %}" alt="Magic Ball">
    </div>
<div class="fortune-card"> 
 <h1>Here is your fortune:</h1>

 <p id="fortune-text">{{ fortune }}</p>
 <button id="next-fortune" class="next-button">Next fortune</button>
</div>

<script>
const fortunes = JSON.parse("{{ fortune_list_json|escapejs }}");
let index = fortunes.indexOf("{{ fortune|escapejs }}");
if (index === -1) index = 0;
const p = document.getElementById('fortune-text');
const btn = document.getElementById('next-fortune');
btn.addEventListener('click', ()=> {
    index = (index + 1) % fortunes.length;
    p.textContent = fortunes[index];
});
</script>

</body>
</html>
