{% load static %}
<!--This is a namespaced folder so the folder will contain templates specific to the fortunes app-->

<!DOCTYPE html>
<html lang="en">
<head>
 <title>Django Fortune Teller</title>
 <link rel="stylesheet" href="{% static 'fortunes/style.css' %}">
</head>
<body>
    <h1>Mysterious Fortune Teller</h1>
    <img src="/fortuneteller/fortunes/static/Magic ball -20260224-135958.piskel" alt="Magic Ball">
    <div class="Fortune-image">
        <img>
    </div>
<div class="fortune-card"> 
 <h1>Here is your fortune:</h1>

 <p>{{ fortune}}</p>
</div>
</body>
</html>
